# Intellij specific settings
target
.idea
project

# Eclipse specific settings
.project
.classpath
.cache
.cache-main
.settings/
.tmpBin/
/bin/

# Test files with incompatible license
src/main/test/latmap/testdata/
